.react-tabs__tab {
  display: inline-block;
  position: block;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
.react-tabs__tab-list{
  margin: 0%;
  padding: 0 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.react-tabs__tab--selected {
  border: none;
  border-bottom: 3px solid blue;
}
.react-tabs__tab-list {
  border: none;
  margin: 0;
  padding: 0;
}